$color-primary: #8bc34a;
$color-secondary: #3a5c20;

$color-contrast: #fff;

$color-primary-transparency: rgba($color: $color-primary, $alpha: 0.9);
$color-secondary-transparency: rgba($color: $color-secondary, $alpha: 0.7);

// $color-primary: #000000;
// $color-secondary: #337492;
